<h1>Valera exterminated!</h1>

<h2><%= link_to 'Start new game', valera_path %></h2>

<div id="img-block" class="row justify-content-center">
	<%= image_tag("dead.jpg", id: "valera", class: "col img") %>
</div>
