<h2>Valera</h2>

<div class="p-2 container d-flex flex-row justify-content-center">
	<%= image_tag("1.png", id: "valera") %>
	<div class="d-flex flex-column">
		<div class="p-2">
		<button>123</button>
		</div>
		<div class="p-2">
			<button>456</button>
		</div>
		<div class="p-2">
			<button>456</button>
		</div>
		<div class="p-2">
			<button>456</button>
		</div>
	</div>
</div>
