<%= form.label :email %>
<div class="text-field">
  <%= form.text_field :email, type: 'email', class: 'form-control'%>
</div>

<%= form.label :password %>
<div class="password-field">
  <%= form.password_field :password, class: 'form-control'%>
</div>
