// Place all the styles related to the Auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

label {
    padding: 0;
    margin:  0;
    color: #40403B;
    font-size: 16px;
}

input {
    height: 29.52px;
    font-size: 0.9em;
    padding: 6px 8px;
    border: 1px solid #cacdcc;
    border-radius: 0;
    transition: .3s;
    outline: 0 none;
}

input:focus {  
    border-color: #000;
    box-shadow: 0 0 0;
    outline: 0 none;
}

input[type=submit] {
    height: 28.61px;
    background: #000;
    color: #ffffff;
    font-size: 13.33px;
    padding: 8px, 18px;
    border-radius: 0;
    transition: .2s;
}

.submit-field {
    margin-top: 10px;
}

input[type=submit]:hover {
    background: #1c1c1c;
}

input[type=submit]:active {
    background: #1c1c1c !important;
    box-shadow: 0 0 0 !important;
    outline: 0 none;
}

input[type=submit]:focus {
    background: #1c1c1c !important;
    box-shadow: 0 0 0 !important;
    outline: 0 none;
}

input[type=submit] {
    width: 266px;
}

#email {
    text-align: center;
}